@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --color-primary: hsl(220, 13%, 13%);
  --color-secondary: hsl(219, 9%, 45%);
  --color-tertiary: hsl(220, 14%, 75%);
  --color--accent: hsl(26, 100%, 55%);
  --color--accent-light: hsl(25, 100%, 94%);
  --color-decoration: hsl(223, 64%, 98%);
  --color-background-modal: hsla(0, 0%, 0%, 0.7);

  --fs-xl: 5rem;
  --fs-700: 4.2rem;
  --fs-600: 3.2rem;
  --fs-500: 2.8rem;
  --fs-400: 1.6rem;
  --fs-300: 1.4rem;

  --fw-bold: 700;
  --fw-normal: 500;

  --br-400: 10px;

  --opacity-hover: 0.7;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: var(--fs-400);
}

h1 {
  font-weight: 700;
  font-size: var(--fs-700);
  color: var(--color-primary);
}

p {
  color: var(--color-secondary);
}

.a {
  color: inherit;
  text-decoration: none;
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn {
  display: block;
  width: 100%;
  font-weight: 600;
  color: white;
  background-color: var(--color--accent);
  border-radius: var(--br-400);
  padding-block: 1.8rem;
}

.btn:hover {
  opacity: var(--opacity-hover);
}

.btn svg {
  width: 18.7px;
  height: 17px;
  vertical-align: middle;
  margin-right: 0.8rem;
}

.quantity {
  font-weight: var(--fw-bold);
  background-color: var(--color-decoration);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.8rem;
  border-radius: var(--br-400);
}

.quantity button {
  color: var(--color--accent);
  font-size: var(--fs-500);
  font-weight: inherit;
  line-height: 1;
  padding-bottom: 0.8rem;
}

.quantity button:hover {
  opacity: var(--opacity-hover);
}

.attribution {
  font-size: 11px;
  color: var(--color-secondary);
  text-align: center;
}
.attribution a {
  color: var(--color-primary);
  font-weight: var(--fw-bold);
}

.attribution a:hover {
  color: var(--color--accent);
}
