@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --color-primary: hsl(220, 13%, 13%);
  --color-secondary: hsl(219, 9%, 45%);
  --color-tertiary: hsl(220, 14%, 75%);
  --color-accent: hsl(26, 100%, 55%);
  --color-accent-light: hsl(25, 100%, 94%);
  --color-decoration: hsl(223, 64%, 98%);
  --color-background-modal: hsla(0, 0%, 0%, 0.7);

  --fs-xl: 5rem;
  --fs-700: 3.2rem;
  --fs-600: 3rem;
  --fs-500: 2.8rem;
  --fs-400: 1.6rem;
  --fs-300: 1.4rem;
  --fs-200: 0.9rem;

  --fw-bold: 700;
  --fw-normal: 500;

  --br-xl: 50%;
  --br-400: 10px;
  --br-300: 5px;

  --opacity-hover: 0.7;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: var(--fs-400);
}

.container {
  width: 90%;
  margin-inline: auto;
}

h1 {
  font-weight: 700;
  font-size: var(--fs-700);
  color: var(--color-primary);
}

p {
  color: var(--color-secondary);
}

.a {
  color: inherit;
  text-decoration: none;
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding-inline: 0;
}

.btn {
  display: block;
  width: 100%;
  font-weight: 600;
  color: white;
  background-color: var(--color-accent);
  border-radius: var(--br-400);
  padding-block: 1.8rem;
}

.btn:hover {
  opacity: var(--opacity-hover);
}

.btn svg {
  width: 18.7px;
  height: 17px;
  vertical-align: middle;
  margin-right: 0.8rem;
}

.figure {
  margin: 0;
}

.rounded {
  border-radius: var(--br-300);
}

/* Navigation Bar */
.header,
nav,
.nav__list {
  display: flex;
  align-items: center;
}

.header {
  margin-block: 2rem;
  column-gap: 1rem;
}

.nav__logo {
  margin: 0;
  line-height: 0;
}

nav {
  flex-grow: 1;
  justify-content: space-between;
}

.nav__btn--toggle {
  padding-top: 0.5rem;
}

.nav__list {
  list-style: none;
  gap: 3rem;
  margin-block: 0;
  padding-left: 0;
  color: var(--color-secondary);
}

.nav__btn--close {
  text-align: start;
}

.nav__link:hover {
  color: var(--color-primary);
  border-bottom: 3.5px solid var(--color-accent);
}

.nav__list--two {
  column-gap: 1rem;
  margin-left: auto;
}

.nav__btn--profile img,
.nav__btn--cart svg {
  width: 25px;
}

.nav__btn--profile img:hover {
  border: 2.5px solid var(--color-accent);
  border-radius: var(--br-xl);
}

.nav__btn--cart {
  position: relative;
}

.nav__btn--cart svg {
  height: 25px;
  fill: #69707d;
  transform: translateY(2px);
}

.nav__btn--cart .counter {
  background-color: var(--color-accent);
  font-size: var(--fs-200);
  font-weight: bold;
  color: white;
  border-radius: var(--br-400);
  padding: 0.2rem 0.7rem;
  position: absolute;
  top: -4px;
  right: -4px;
}

.nav__btn--cart svg:hover {
  fill: var(--color-primary);
}

.cart {
  position: absolute;
  z-index: 6;
  width: 95vw;
  max-width: 360px;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: var(--br-400);
  box-shadow: 0 20px 20px 2px hsla(217, 9%, 45%, 0.397);
}

.cart__heading {
  margin: 0;
  padding: 2rem;
  font-size: var(--fs-400);
  border-bottom: 2px solid var(--color-decoration);
}

.cart__list {
  padding: 2rem;
  margin-block: 0;
}

.cart__list > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.cart__message {
  display: none;
  place-items: center;
  height: 100px;
  color: var(--color-secondary);
  font-weight: var(--fw-bold);
}

.cart--empty .cart__message {
  display: grid;
}

.cart--empty .cart__btn--checkout,
.cart--empty .counter {
  display: none;
}

.checkout-wrapper {
  padding: 0 2rem 2rem;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.cart__img {
  width: 50px;
  height: 50px;
}

.cart__img img {
  max-width: 100%;
}

.cart__details {
  color: var(--color-secondary);
  min-width: 0;
}

.details__name {
  margin-block: 0 0.5rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details__total {
  margin-left: 0.5rem;
  font-weight: var(--fw-bold);
  color: var(--color-primary);
}

@media screen and (max-width: 899px) {
  .nav__list--one {
    padding: 2rem 0 0 2rem;
    position: absolute;
    inset: 0;
    z-index: 5;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-background-modal);
    color: var(--color-primary);
    font-weight: var(--fw-bold);
  }

  .nav__list--one::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30vw;
    background-color: white;
  }

  .nav__list--one > * {
    z-index: 6;
  }

  .nav__list--disabled {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .nav__cart {
    position: relative;
  }

  .cart {
    top: 140%;
    transform: translateX(-60%);
  }
}

@media screen and (min-width: 900px) {
  .header {
    column-gap: 3rem;
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--color-decoration);
  }

  .nav__btn--toggle,
  .nav__btn--close {
    display: none;
  }

  .nav__btn--profile img {
    width: 50px;
  }

  .nav__list--two {
    column-gap: 3rem;
  }
}

/* image slider */
.slider__container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider__images {
  width: 400%;
  height: inherit;
  display: flex;
}

.slider__images > img {
  width: 25%;
}

.slider__controller {
  padding-inline: 1.5rem;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}
.slider__btn--arrow {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: var(--br-xl);
  display: grid;
  place-items: center;
}

.slider__btn--arrow svg {
  transform: scale(0.8);
}

.slider__thumbnails {
  margin-top: 2rem;
  display: none;
  column-gap: 1.5rem;
}

.slider__btn--thumbnail {
  cursor: pointer;
  width: 25%;
  border-radius: var(--br-400);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.473);
}

.slider__btn--thumbnail::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.slider__btn--thumbnail:hover {
  opacity: var(--opacity-hover);
}

img[id|="image-01"] {
  transition: 1s;
}

.slider__btn--thumbnail[for="img1"] {
  background-image: url(../images/image-product-1-thumbnail.jpg);
}

.slider__btn--thumbnail[for="img2"] {
  background-image: url(../images/image-product-2-thumbnail.jpg);
}

.slider__btn--thumbnail[for="img3"] {
  background-image: url(../images/image-product-3-thumbnail.jpg);
}

.slider__btn--thumbnail[for="img4"] {
  background-image: url(../images/image-product-4-thumbnail.jpg);
}

.slider__thumbnails .active {
  position: relative;
}

.slider__thumbnails .active::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 3px solid var(--color-accent);
  border-radius: var(--br-400);
  background-color: rgba(255, 255, 255, 0.6);
}

/* Image slider modal*/
.modal {
  position: absolute;
  place-items: center;
  inset: 0;
  display: grid;
  background-color: var(--color-background-modal);
}

.disabled {
  display: none;
}

.modal .slider {
  width: 30%;
  max-width: 550px;
}

.modal .slider__thumbnails {
  width: 85%;
  margin-inline: auto;
}

.modal__close-btn {
  margin-bottom: 1rem;
  position: relative;
  left: 95%;
}

.modal__close-btn svg {
  fill: white;
  transition: 0.2s;
}

.modal__close-btn:hover svg {
  fill: var(--color-accent);
}

.slider-main {
  display: grid;
}

.slider-main > * {
  grid-area: 1 / 1 / 2 / 2;
}

.controller-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.modal .slider__controller {
  z-index: 5;
  width: auto;
  padding: 0;
  left: -25px;
  right: -25px;
}

.modal .slider__btn--arrow {
  width: 55px;
  height: 55px;
}

.modal .slider__btn--arrow svg {
  stroke: #1d2026;
  transition: 0.2s;
}

.modal .slider__btn--arrow:hover svg {
  stroke: var(--color-accent);
}

/* item description */
.item__shop {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  color: var(--color-accent);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.item__name {
  margin-top: 0;
}

.item__detail {
  line-height: 1.5;
}

.price {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}

.price > * {
  font-weight: var(--fw-bold);
}
.price__current {
  font-size: var(--fs-600);
}

.price__discount-rate {
  width: max-content;
  color: var(--color-accent);
  background-color: var(--color-accent-light);
  padding: 0.5rem;
  border-radius: var(--br-300);
}

.price__original {
  color: var(--color-tertiary);
  text-decoration: line-through;
  margin-left: auto;
}

.item-content .btn {
  box-shadow: 0 15px 25px 5px hsla(26, 100%, 55%, 0.2);
}

.input-quantity {
  font-weight: var(--fw-bold);
  background-color: var(--color-decoration);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.8rem;
  margin-block: 2rem;
  border-radius: var(--br-400);
  position: relative;
}

.input-quantity button {
  color: var(--color-accent);
  font-size: var(--fs-500);
  font-weight: inherit;
  line-height: 1;
  padding-bottom: 0.8rem;
}

.input-quantity button:hover {
  opacity: var(--opacity-hover);
}

.quantity {
  min-width: 0;
  border: none;
  text-align: center;
  background-color: transparent;
  color: var(--color-primary);
  font-weight: bold;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.error-message {
  width: 100%;
  color: var(--color-accent);
  font-weight: normal;
  margin-block: 0;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .item-block .item-content {
    width: 90%;
    margin-inline: auto;
  }

  .slider__container {
    height: 90vw;
  }

  .slider__images {
    pointer-events: none;
  }
}

@media screen and (min-width: 600px) {
  .item-block {
    max-width: 1015px;
    display: flex;
    column-gap: 5vw;
  }

  .item-block > * {
    width: 50%;
  }

  .item-content {
    align-self: center;
  }

  .price {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .price__original {
    width: 100%;
  }

  /* Image Slider */
  .item-block .slider__controller {
    display: none;
  }

  .slider__container {
    aspect-ratio: 1 / 1;
    border-radius: var(--br-400);
  }

  .slider__thumbnails {
    display: flex;
  }

  .slider__images {
    cursor: pointer;
  }
}

@media screen and (min-width: 900px) {
  .error-message {
    position: absolute;
    bottom: -50%;
    left: 5%;
    text-align: left;
  }

  .add-item {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }

  .add-item .quantity {
    width: 40%;
    cursor: default;
  }

  .add-item .quantity:focus {
    outline: none;
  }

  .add-item .btn {
    width: 60%;
  }
}

.attribution {
  font-size: 11px;
  color: var(--color-secondary);
  text-align: center;
}
.attribution a {
  color: var(--color-primary);
  font-weight: var(--fw-bold);
}

.attribution a:hover {
  color: var(--color-accent);
}
