<div class="slider">
  <div class="slider__container">
    <div class="slider__controller">
      <button class="button slider__btn--arrow">
        <svg width="13" height="18" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 1 3 9l8 8"
            stroke="#1D2026"
            stroke-width="3"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </button>
      <button class="button slider__btn--arrow">
        <svg width="13" height="18" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m2 1 8 8-8 8"
            stroke="#1D2026"
            stroke-width="3"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div class="slider__images">
      <img src="images/image-product-1.jpg" alt="" />
      <img src="images/image-product-2.jpg" alt="" />
      <img src="images/image-product-3.jpg" alt="" />
      <img src="images/image-product-4.jpg" alt="" />
    </div>
  </div>

  <input type="radio" name="radio-btn" id="img1" />
  <input type="radio" name="radio-btn" id="img2" />
  <input type="radio" name="radio-btn" id="img3" />
  <input type="radio" name="radio-btn" id="img4" />

  <div class="slider__thumbnails">
    <label class="slider__btn--thumbnail" for="img1"></label>
    <label class="slider__btn--thumbnail" for="img2"></label>
    <label class="slider__btn--thumbnail" for="img3"></label>
    <label class="slider__btn--thumbnail" for="img4"></label>
  </div>
</div>
